
.container-fluid {
	background-color: #b4c89e;
}

nav a:hover {
  cursor: pointer;
  color: white !important;
}


#btn {
  display: inline-block;
  height: 60px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-size: 2em;
  border: none;
  outline: none;
}

.row {
  margin-top: 60px;
  
}

footer {
  padding:20px 0px 0px 0px;
  /*position:absolute;*/
  /*bottom: 0px;*/
  width:  100vw;
  /*height: 20vh;*/
  background-color: #b4c89e;
}
footer > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer{
  display: flex;
  flex-direction: column;
   justify-content: space-between;
}
.media-icon-group{
  display: flex;
  justify-content: center;
}
.media-icon{
  color: light-blue;
}
.contact-us{
  margin:10px 0px 0px 0px;
}

.leftarrow{
  /*  position:fixed;*/
    width: 10vw;
    height: 10vw;
    border: 2px solid grey;
    background-color: blue;
    top: 30vw;
    left: 5vw;
    color: white;
    font-size: 2em;
}

.rightarrow{
    /*position:fixed;*/
    width: 10vw;
    height: 10vw;
    border: 2px solid grey;
    background-color: blue;
    top: 30vw;
    right: 5vw;
    color: white;
    font-size: 2em;
}


#workremoveadd{
   /* position: absolute;*/
    width: 70vw;
    transition: 1s ease;
    left: 14vw;
    height: 33vw;
    top: 15vw;
    overflow: hidden;
    border: 2px solid white;
	
}

#explore{
        position: absolute;
        top: 0;
        border: 2px solid #b9beb8;
        transition: 0.5s ease;
        background-image: url(books.png);
        background-size: 100%;
        background-repeat: no-repeat;
        left: 0;
        color: black;
        overflow:scroll; 
}

    #map{
        position: absolute;
        top: 0;
        border: 2px solid #b9beb8;
        transition: 0.5s ease;
        background-image: url(maps.png);
        background-size: 100%;
        background-repeat: no-repeat;
        left: 0;
        color: black;
}

    #weather{
        position: absolute;
        top: 0;      
        border: 2px solid #b9beb8;
        transition: 0.5s ease;
        background-image: url(Weather-PNG-Pic.png);
        background-size: 100%;
        background-repeat: no-repeat;
        left: 0;
        color: black;
        
}
