html {
  overflow: hidden;
}

#body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(75deg, #8b8e83, #d0d1cd);
  margin-bottom: 0px;
  
}

header {
  /*border: 1px solid green;*/
  height: 6vh;
  background-color:#b4c89e ;
}
header > img {
  height: 60px;
  width: 60px;
}
header > a {
  text-decoration: none;
  color: black;
}
header > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.container {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

img {
  background-size: cover;
  overflow: hidden;
}

#search {
  display: inline-block;
  height: 60px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-size: 2em;
  border: none;
  outline: none;
}

.search-nav {
  margin-top: 60px;
}

.nav-btn {
  height: 200px;
  width: 150px;
  margin-top: 150px;
  color: rgb(100, 100, 100);
  text-align: center;
  padding: 85px;
}

/*Explore button*/
.row > nav:first-child {
  float: right;
  background-color: rgba(225, 229, 88, 0.5);
}
.row > nav:first-child:hover {
  filter: brightness(1.35);
  color: white;
  font-size: 1.2em;
}

/*Weather button*/
.row > nav:nth-child(3) {
  background-color: rgba(94, 149, 181, 0.5);
  margin-left: 14px;
}
.row > nav:nth-child(3):hover {
  filter: brightness(1.35);
  color: white;
  font-size: 1.2em;
}
#map {
        height: 400px;
        width: 70%;
       }
footer {
  padding:20px 0px 0px 0px;
  position:absolute;
  bottom: 0px;
  width:100vw;
  height:20vh;
  background-color: #b4c89e;
}
footer > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer{
  display: flex;
  flex-direction: column;
   justify-content: space-between;
}
.media-icon-group{
  display: flex;
  justify-content: center;
}
.media-icon{
  color: light-blue;
}
.contact-us{
  margin:10px 0px 0px 0px;
}
