html {
  overflow: hidden;
}

#body {
  overflow: hidden;
  height: 100% vheight;
  background: linear-gradient(75deg, #8b8e83, #d0d1cd);
  margin-bottom: 0px;
}

header {
  border: 1px solid green;
  height: 40px;
}

.container {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#map {
  width: 400px;
  height: 400px;
  padding: 0px;
}

img {
  background-size: cover;
  overflow: hidden;
}

#search {
  display: inline-block;
  height: 60px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-size: 2em;
  border: none;
}
/*::-webkit-input-placeholder {color: white;}*/
.search-nav {
  margin-top: 20px;

}

.nav-btn {
  height: 200px;
  width: 150px;
  margin-top: 70px;
  color: rgb(100, 100, 100);
  text-align: center;
  padding: 30px;
}

/*Explore button*/
.row > nav:first-child {
  float: right;
  background-color: rgba(225, 229, 88, 0.5);
  
}
.row > nav:first-child:hover {
  filter: brightness(1.35);
  color: white;
  font-size: 1.2em;
}

/*Weather button*/
.row > nav:nth-child(3) {
  background-color: rgba(94, 149, 181, 0.5);
  margin-left: 14px;
}
.row > nav:nth-child(3):hover {
  filter: brightness(1.35);
  color: white;
  font-size: 1.2em;
}

#footer {
  position: absolute;
  border: 1px solid black;
  height: 60px;
  bottom: 0px;
  width: 100%;
}