#body {
  /*overflow: hidden;*/
  height: 100%;
  background: linear-gradient(75deg, #8b8e83, #d0d1cd);
  margin-bottom: 0px;
  font-family: Verdana;
}

.header {
  border: 1px solid green;
  height: 60px;
  width: 100%;
  display: block;
  margin-bottom: 25px;
}
.header > img {
  height: 60px;
  width: 60px;
}
.header > a {
  text-decoration: none;
  color: black;
}
.header > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.container {
  position: relative;
  overflow: hidden;
  /*height: 100vh;*/
  width: 100%;
  border: 1px solid green;
}

.search-nav {
  margin: auto;
  width: 50%;
  height: 100px;
  display: inline-block; 
}

#search { 
  height: 60px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-size: 2em;
  border: none;
  outline: none;
}

.search-nav > #go {
  height: 60px;
  width: 60px;
  background-color: #56dd56;
}

.row {
  width: 64%;
  margin: auto;
  position: relative;
  max-height: 400px;
  display: block;
}
#left {
  height: 300px;
  width: 150px;
  text-align: center;
  display: inline-block;
  float: left;
  margin: auto;
  margin-top: 10px;
  z-index: -1;
}
#right {
  height: 300px;
  width: 150px;
  text-align: center;
  display: inline-block;
  float: right;
  margin: auto;
  margin-top: 10px;
  z-index: -1;
}

.nav-btn { 
  /*height: 200px;
  width: 100px;
  color: rgb(100, 100, 100);
  text-align: center;
  padding-top: 85px;
  display: inline-block;
  position: absolute;
  margin: auto;*/
}

#map {
  /*background-size: cover;
  overflow: hidden;
  width: 500px;
  height: 300px;*/
  display: inline-block;
  margin: auto;
  margin-top: 10px;
}
#map > img {
  width: 500px;
  height: 300px;
  background-size: cover;
  overflow: hidden;
  /*margin: auto;*/
  
}

#go:hover {
  filter: brightness(1.35);
  font-size: 1.2em;
  color: white;
}
/*=== Explore button ===*/
.row > nav:first-child {
  background-color: rgba(225, 229, 88, 0.5);
}
.row > nav:first-child:hover {
  filter: brightness(1.35);
  color: white;
  font-size: 1.2em;
}

/*=== Weather button ===*/
.row > nav:nth-child(3) {
  background-color: rgba(94, 149, 181, 0.5);
}
.row > nav:nth-child(3):hover {
  filter: brightness(1.35);
  color: white;
  font-size: 1.2em;
}

#footer {
  position: absolute;
  border: 1px solid red;
  height: 80px;
  bottom: 0px;
  display: block;
  width: 100%;
  right: 0;
  text-align: center;
  overflow: hidden;
}

/*=== MEDIA QUERIES ===*/
