body{
    background-color: rgba(46, 68, 48, 0.5);
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    font-family: 'Raleway', sans-serif;
    padding: 20vh 31vw;
}

    .project1Explore{
        position: absolute;
        top: 100vh;
        height:55vh;
        width: 23vw;
        color: white;
        font-size: 1em;
        border: 2px solid #b9beb8;
        transition: 2s ease;
        background-image: url(mapbackground2.png);
        background-size: 100%;
        left: -51vh;
        overflow:scroll;
        
}

    .project1Map{
        position: absolute;
        top: 100vh;
        left: 0vw;
        height:55vh;
        width: 51.7vw;
        border: 2px solid #b9beb8;
        transition: 2s ease;
        background-image: url(mapbackground2.png);
        background-size: 100%;
        z-index: 10;
}

    .project1Weather{
        position: absolute;
        top: 100vh;
        height:55vh;
        width: 21vw;
        border: 2px solid #b9beb8;
        transition: 2s ease;
        background-color: white;
        background-size: 100%;
        left: 53vw;
        color: black;
        
}

.textarea{
        height: 60px;
        width:40vw;
    font-size: 2em;
    font-weight: 0.5;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: #e0e0e0;
    color: #635822;
    transition: 1.5s ease;
}

#btn{
    position:absolute;
    top:0vh;
    height: 86px;
    width:10vw;
    font-size: 2em;
    background-color: #e0e0e0;
    color: #635822;
    transition: 1.5s ease;
    font-family: 'Raleway', sans-serif;
    margin-left:2px;
}

#btn:hover, #btn:active, .textarea:hover, .textarea:active, .textarea:focus{
    
    color: #e0e0e0;
    background-color: #635822;
    
}

.maindiv{
    position:absolute;
    top: 10vh;
    left: 25vw;
    width: 650px;
    height: 486px;
    //overflow: hidden;
}